@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Cinzel", serif;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-header {
  width: 90%;
  margin: 0 auto;
  padding: 40px 75px;
  border-bottom: 1px solid #000000;
}

.inner-header .logo {
  transition: 0.2s ease-in-out;
}

.inner-header {
  position: absolute;
}

.homelogo {
  position: relative;
}

.inner-header .logo:hover {
  filter: drop-shadow(1px 4px 10px #05641ebb);
  transform: scale(1.1);
}

.inner-header nav ul li {
  margin-right: 40px;
}

.right-icons ul li {
  margin-right: 30px;
}

.inner-header nav ul li a {
  font-size: 18px;
  color: #000000;
}

.inner-header nav ul li a:hover {
  text-shadow: 2px 1px 50px #01601af3;
}

.inner-main {
  width: 80%;
  margin: 0 auto;
}

.inner-main img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.3s ease-in-out;
}

.inner-main img:hover {
  filter: drop-shadow(0px 4px 4px #01601af3);
}

.inner-main .home-plants {
  max-width: 500px;
}

h1 {
  font-size: 44px;
  color: #000000;
  margin-bottom: 15px;
}

.home-plants p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}

.buttons button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #01601af3;
  border-radius: 10px;
  padding: 15px 50px;
  width: 196px;
}

.buttons button:hover {
  text-shadow: 2px 1px 10px #adf13fef;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-icons img:hover {
  filter: drop-shadow(0px 4px 4px #01601af3);
  transform: scale(1.1);
}

/* plants grid section */
section .section-container {
  width: 100%;
}

.section-container h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.plant-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 60px;
}

.plant-box {
  margin: 0 auto;
  position: relative;
}

.name-price {
  background: rgba(54, 121, 79, 0.55);
  border: 10px;
  padding: 8px 15px;
}

.name-price h5 {
  font-size: 19px;
  line-height: 22px;
  color: #ffff;
}

.name-price button {
  font-size: 18px;
  color: white;
}

.plant-box button {
  cursor: pointer;
  position: absolute;
  left: 25%;
  bottom: 20%;
  font-size: 18px;
  color: transparent;
  background: transparent;
  padding: 15px 40px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  border: none;
}

.plant-box:hover img {
  opacity: 0.5;
}

.plant-box button:hover {
  filter: drop-shadow(0px 4px 10px #01601abb);
  transform: scale(1.1);
}

.plant-box:hover button {
  color: #0f6845;
  background: #ffff;
}

.plant-box:hover .name-price {
  opacity: 1;
  background-color: #0f6845;
}
