.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-header {
  width: 90%;
  margin: 0 auto;
  padding: 40px 75px;
  border-bottom: 1px solid #000000;
}

.inner-header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.inner-header .logo {
  transition: 0.2s ease-in-out;
}

.inner-header {
  position: absolute;
}

.homelogo {
  position: relative;
}

.inner-header .logo:hover {
  filter: drop-shadow(1px 4px 10px #05641ebb);
  transform: scale(1.1);
}

.inner-header nav ul li {
  margin-right: 40px;
}

.right-icons ul li {
  margin-right: 30px;
}

.inner-header nav ul li a {
  font-size: 18px;
  color: #000000;
}

.inner-header nav ul li a:hover {
  text-shadow: 2px 1px 50px #01601af3;
}

.inner-main {
  width: 80%;
  margin: 0 auto;
}

.inner-main img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.3s ease-in-out;
}

.inner-main img:hover {
  filter: drop-shadow(0px 4px 4px #01601af3);
}

.inner-main .home-plants {
  max-width: 500px;
}

h1 {
  font-size: 44px;
  color: #000000;
  margin-bottom: 15px;
}

.home-plants p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}

.buttons button {
  cursor: pointer;
  font-size: 18px;
  color: white;
  background-color: #01601af3;
  border-radius: 10px;
  padding: 15px 50px;
  width: 196px;
}

.buttons button:hover {
  text-shadow: 2px 1px 10px #adf13fef;
}

.social-icons img:hover {
  filter: drop-shadow(0px 4px 4px #01601af3);
  transform: scale(1.1);
}
